@import "tailwindcss";

@font-face {
  font-family: "Amiamie";
  src: url("/fonts/otf/Amiamie-Regular.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amiamie";
  src: url("/fonts/otf/Amiamie-Italic.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Amiamie";
  src: url("/fonts/otf/Amiamie-Light.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amiamie";
  src: url("/fonts/otf/Amiamie-LightItalic.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Amiamie";
  src: url("/fonts/otf/Amiamie-Black.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amiamie";
  src: url("/fonts/otf/Amiamie-BlackItalic.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Amiamie-Round";
  src: url("/fonts/otf/Amiamie-RegularRound.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-RegularRound.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amiamie-Round";
  src: url("/fonts/otf/Amiamie-BlackRound.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-BlackRound.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amiamie-Round";
  src: url("/fonts/otf/Amiamie-BlackItalicRound.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-BlackItalicRound.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@theme {
  --color-primary: #e5e5e0;
  --color-DarkLava: #393632;
  --color-SageGray: #8b8b73;
  --color-gold: #cfa355;
  --font-amiamie: "Amiamie", sans-serif;
  --font-amiamie-round: "Amiamie-Round", sans-serif;

  --animate-marquee: marquee 40s infinite linear;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
}

body {
  background: #e5e5e0;
  color: black;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: var(--font-amiamie);
}

*::selection
{
  color:hsl(40, 100%, 63%);
}

@utility container
{
  margin-inline:auto;
  padding-inline:2rem;

  @media (width >=640px){
    max-width: 640px;
  }
  @media (width >= 768px){
    max-width: 768px;
  }
  @media (width >= 1024px){
    max-width: 1024px;
  }
  @media (width >=1280px){
    max-width: 1280px;
  }
  @media (width >=1400px){
    max-width: 1400px;
  }
}

@layer utilities {
  .through
  {
    text-decoration:line-through;
  }
  .mouse-ovr::after
  {
    @apply md:mr-6 md:mx-5 mx-4;
    content:"";
    position: absolute;
    top:80%;
    left:10px;
    right: 20px;
    height: 10px;
    width:0%;
    border-bottom: 4px solid #e5e5e0;
    transition: all 0.4s ease-in-out;
}  
  .mouse-over:hover
  {
    @apply text-white;
  }
  .mouse-ovr:hover::after
  {
    @apply md:w-[80%];
    transform-origin: left;
  }

  .gradient
  {
    background: linear-gradient(to right,hsl(64, 22%, 75%), #d38e15);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .fill-up
  {
    color:black;
  }
  .fill-up::after
  {
    content: "";
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: black;
    left: 0;
    pointer-events: none;
    top:100%;
    z-index: -1;
    transition: top 0.3s ease-in-out;
  }
  .fill-up:hover
  {
    color:white;
  }
  .fill-up:hover::after
  {
    top:0;
  }
}